/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 janv. 2017, 12:41:35
    Author     : Tidiany
*/

/*.black_title{
    background-color: #40403E;
    border-bottom: 1px groove #FE980F; 
    width: 100%;margin: 0 0 30px;
    padding: 10px;
}*/